/node_modules
/vendor
/logs/*
/asserts/*
/composer.lock
.env
.yml
npm-debug.log
yarn-error.log
.idea
.DS_Store
ding.lock
/composer.json
*.php
packagist.yml
Gopkg.lock
go.sum
coverage.txt
coverage.html
