/node_modules
/resources/hot
/resources/storage
/storage/*.key
/vendor
.env
.yml
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/composer.lock
.idea
.DS_Store
/logs/*
vendor
ding.lock
/composer.json
*.php
packagist.yml
Gopkg.lock
go.sum